.content-area {
    padding: 0 15px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    margin-bottom: 20px;
    margin-top: 0;
    margin-left: 205px;
}

.pointer{
    cursor: pointer;
}